body {
  font-family: sans-serif;

  margin-top: 6pt;
  margin-left: 24pt;
  margin-right: 24pt;
  margin-bottom: 12pt;

  background-color: #333;
}

header {
  text-align: center;
  color: #444;
}

h1 { color: #CCC; }
h3 { color: #CCC; }
p  { color: #BBB; }
code {
  font-weight: bold;
  font-size: 16px;
}


#main-ui {
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  gap: 2%;
}

#dropzone {
  display: grid;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  border-radius: 1.25rem;
  border: 3px dashed #7AC;
  /* NOTE: can use border-image to use a gradient, but negates radius */
}

#drives {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  padding: 2.5%
}

#drives > div {
  display: grid;
  grid-template-rows: 1fr 2fr 17fr;
  border-radius: 2rem;
  padding: 2.25rem;

}

#lhs { background-color: oklch(45% 7% 90deg); }
#rhs { background-color: oklch(45% 7% 230deg); }

#drives > div > h3 {
  text-align: center;
  margin: 0%;
}

.controls {
  text-align: center;
  padding: .5rem;
}

select, ::picker(select) { appearance: base-select; }

.controls > * {
  font-size: 32px;
  border-radius: .5rem;

  padding-left: .5rem;
  padding-right: .5rem;

  background: oklch(75% 40% 100deg);
  color: oklch(45% 30% 80deg);
}

/* WinDirStat */
.drive {
  display: grid;
  background-color: #DDD;
}

.data-area {
  background-blend-mode: multiply;
  display: grid;
}

/* log */
#messages {
  background-color: #111;
  padding-left: .25rem;
  padding-right: .25rem;
  overflow: scroll;
  min-height: 10rem;
  max-height: 10rem;
}
